.ui.stacked.segment {
    background-image: url('./bgImage.jpg');
    
}

.ui.middle.aligned.center.aligned.grid {
    background-color:black;
}

body {
    background-color:black;
    
}
.ui.message {
    background-color: darkorchid;
}

.content{
    background-color: grey;
}